<table class="table table-condensed table-striped">
	<tr class="rush">
		<th rowspan="2">Tipe</th>
		<th colspan="2">Harga</th>
	</tr>
	<tr class="rush">
		<th>M/T</th>
		<th>A/T</th>
	</tr>

	<tr>
		<td>1.3 E STD</td>
		<td>Rp. 197.550.000,-</td>
		<td>Rp. 208.650.000,-</td>
	</tr>

	<tr>
		<td>1.3 E</td>
		<td>Rp. 200.050.000,-</td>
		<td>Rp. 211.150.000,-</td>
	</tr>

	<tr>
		<td>1.3 G</td>
		<td>Rp. 218.900.000,-</td>
		<td>Rp. 228.400.000,-</td>
	</tr>

	<tr>
		<td>1.5 G</td>
		<td>Rp. 230.800.000,-</td>
		<td>-</td>
	</tr>

	<tr>
		<td>VELOZ 1.3</td>
		<td>Rp. 224.600.000,-</td>
		<td>Rp. 236.500.000,-</td>
	</tr>

	<tr>
		<td>VELOZ 1.5</td>
		<td>Rp. 236.600.000,-</td>
		<td>Rp. 248.500.000,-</td>
	</tr>
	<tr>
		<td colspan="3">P: 4.190, L:1.660, T:1.695 (mm)</td>
	</tr>
</table>