<div class="about py-5" id="about">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title text-capitalize text-dark text-center pb-3 mb-sm-5 mb-4">about us
            <span></span>
        </h3>
        <div class="row mb-5">
            <div class="col-lg-6 aboutright ml-2 mr-sm-0 mr-3">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="img-fluid" src="{{ theme.link }}/templates/images/g1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ theme.link }}/templates/images/g4.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ theme.link }}/templates/images/g3.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 aboutleft ml-xl-4">
                <h4 class="about-left-agile text-dark text-capitalize mb-2">about our
                    <span>CAR WASH</span>
                </h4>
                <p class="border-left pl-3">Nulla auctor elit augue, eu volutpat risus tincidunt ullamcorper. Su spendisse id ante molestie libero placerat condimentum.</p>
                <h4 class="about-left-agile text-dark text-capitalize mt-4 mb-2">Bring back your
                    <span>CAR</span> gleaming like
                    <span>NEW</span>!
        
                </h4>
                <p>
                    Nulla auctor elit augue, eu volutpat risus tincidunt ullamcorper. Su spendisse id ante molestie libero placerat condimentum.
                    Maecenas in conse quatlibero. Maecenas nisi sapien.
                </p>
            </div>
        </div>
    </div>
</div>