<style type="text/css">
.banner-top1 {
    background: url(http://toyota.agungdirgantara.id/wp-content/uploads/2019/03/bg2.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-top2 {
    background: url(http://toyota.agungdirgantara.id/wp-content/uploads/2019/03/bg1.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-top3 {
    background: url(http://toyota.agungdirgantara.id/wp-content/uploads/2019/03/bg3.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-top4 {
    background: url(http://toyota.agungdirgantara.id/wp-content/uploads/2019/03/bg3.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
</style>
<div class="banner-silder">
    <div id="JiSlider" class="jislider">
        <ul>
            <li>
                <div class="banner-top banner-top1">
                    <div class="container">
                        <div class="banner-info">
                            <h3 class="name text-white text-uppercase text-center">
                                <span class="name-part w3l-text1">your</span>
                                <span class="name-part w3l-text2">car</span>
                                <span class="name-part w3l-text3">is always in great hands
                                        
                                    <label>with</label> us
                                </span>
                            </h3>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-top banner-top2">
                    <div class="container">
                        <div class="banner-info">
                            <h3 class="name text-white text-uppercase text-center">
                                <span class="name-part w3l-text1">we</span>
                                <span class="name-part w3l-text2">love</span>
                                <span class="name-part w3l-text3">your
                                        
                                    <label>car</label> the same as you do
                                </span>
                            </h3>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-top banner-top3">
                    <div class="container">
                        <div class="banner-info">
                            <h3 class="name text-white text-uppercase text-center">
                                <span class="name-part w3l-text1">your</span>
                                <span class="name-part w3l-text2">car</span>
                                <span class="name-part w3l-text3">is
                                        
                                    <label>always</label> in great hands with us
                                </span>
                            </h3>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-top banner-top4">
                    <div class="container">
                        <div class="banner-info">
                            <h3 class="name text-white text-uppercase text-center">
                                <span class="name-part w3l-text1">we</span>
                                <span class="name-part w3l-text2">love</span>
                                <span class="name-part w3l-text3">your car the same as
                                        
                                    <label>you</label> do
                                </span>
                            </h3>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>