<!DOCTYPE html>
<html>
<head>
    <title>{{ site.name }} | {{ site.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    
    <link rel="icon" href="{{ site.icon }}">
    <link rel="stylesheet" href="{{ theme.link }}/templates/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link href="{{ theme.link }}/templates/css/JiSlider.css" rel="stylesheet">
    <!-- //banner-slider -->
    <link rel="stylesheet" href="{{ theme.link }}/templates/css/smoothbox.css" type='text/css' media="all" />
    <!-- gallery lightbox -->
    <link rel="stylesheet" href="{{ theme.link }}/templates/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- <link rel="stylesheet" href="{{ theme.link }}/templates/css/fontawesome-all.css"> -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ theme.link }}/style.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->

    <!-- Web-Fonts -->
    <!-- <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet"> -->
    <!-- <link href="//fonts.googleapis.com/css?family=Dr+Sugiyama&amp;subset=latin-ext" rel="stylesheet"> -->
    <!-- //Web-Fonts -->

    <script src="{{ theme.link }}/templates/js/jquery-2.2.3.min.js"></script>


    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.min.js"></script>
</head>

<body>
<div class="main">
    <header>
            <div class="col-lg-6 float-left" style="background-color: black;color: white;margin-bottom: 1px solid red;">
                &nbsp;
            </div>
            <div class="col-lg-6 float-left" style="background-color: black;color: white;margin-bottom: 1px solid red;">
                <i class="fa fa-phone"></i>  Jansen 0823 6557 2000 (Whatsapp/Telp) 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;jansen.toyotamedanid@yahoo.com
            </div>
        <div class="container-fluid">
            <div class="row header-w3ls-top pt-lg-5 pt-md-4 pt-3 px-lg-5 px-3">
                <div class="col-xl-10 col-md-9 col-sm-8 col-6 logo">
                    <h1><a href="{{ function('home_url') }}">{{ site.name }}</a></h1>
                </div>
                <div class="col-xl-2 col-md-3 col-sm-4 col-6 menu-agile text-center">
                    <a href="#menu" id="toggle">
                        <span></span>
                    </a>
                    <div id="menu" class="menustyles">
                        <ul class="list-unstyled">
                            {% for item in menu.items %}
                                <li>
                                    <a href="{{ item.link }}">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
{% include 'banner_slider.html' %}
{% block content %}
{% endblock %}      

<div id="wa-button">
    <a href="https://api.whatsapp.com/send?phone=6282365572000" class="footicon2"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
</div>
<!-- footer -->
{% include 'footer.html' %}
<!-- //footer -->


<!-- Js files -->
<!-- Default-JavaScript-File -->
<script src="{{ theme.link }}/templates/js/bootstrap.js"></script>
<!-- Necessary-JavaScript-File-For-Bootstrap -->

<!--banner-slider-->
<script src="{{ theme.link }}/templates/js/JiSlider.js"></script>
<!-- //banner-slider -->

<!-- smooth scrolling -->
<script src="{{ theme.link }}/templates/js/SmoothScroll.min.js"></script>
<!-- //smooth scrolling -->

<!-- move-top -->
<script src="{{ theme.link }}/templates/js/move-top.js"></script>
<!-- easing -->
<script src="{{ theme.link }}/templates/js/easing.js"></script>
<!--  necessary snippets for few javascript files -->
<script src="{{ theme.link }}/templates/js/car_services.js"></script>
<!-- banner text -->
<script src="{{ theme.link }}/templates/js/text.js"></script>
<!-- menu -->
<script src="{{ theme.link }}/templates/js/menu.js"></script>
<!-- lightbox -->
<script src="{{ theme.link }}/templates/js/smoothbox.jquery2.js"></script>

<!-- testimonials -->
<!-- required-js-files-->
<link href="{{ theme.link }}/templates/css/owl.carousel.css" rel="stylesheet">
<script src="{{ theme.link }}/templates/js/owl.carousel.js"></script>
<script>
addEventListener("load", function (){
        setTimeout(hideURLbar, 0);
}, false);
function hideURLbar(){
        window.scrollTo(0, 1);
}
$(window).load(function () {
    $('#JiSlider').JiSlider({
        color: '#fff',
        start: 3,
        reverse: true
    }).addClass('ff')
})
$(document).ready(function () {
    $("#owl-demo").owlCarousel({
        items: 1,
        lazyLoad: true,
        autoPlay: false,
        navigation: true,
        navigationText: true,
        pagination: true,
    });
});
</script>
</body>
</html>