<div class="py-0 contact" style="background: url({{ theme.uri ~ '/templates/images/2.jpg' }}) no-repeat center;">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title text-capitalize text-white text-center pb-3 mb-sm-5 mb-4">Booking Services
            <span></span>
        </h3>
        <div class="d-flex">
            <div class="col-lg-12">
                <div class="w3l-agile">
                    <form action="#" method="post" class="form-inline" id="bookingForm">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <label for="nama">&nbsp;</label>
                            <input type="text" name="nama" class="form-control" placeholder="Nama" required="true">

                            <label for="telp">&nbsp;</label>
                            <input type="number" name="telp" class="form-control" placeholder="Telepon / Handphone" required="true">
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <label for="plat">&nbsp;</label>
                            <input type="text" name="plat" class="form-control" placeholder="Nomor Polisi / Plat" required="true">

                            <label for="jam">&nbsp;</label>
                            <input type="time" name="jam" class="form-control" required="true">
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <label for="tanggal">&nbsp;</label>
                            <input type="date" name="tanggal" class="form-control" placeholder="DD/MM/YYYY" required="true">
                            <label for="jenis" class="bookingdate">&nbsp;</label>
                            <select name="jenis" id="jenis" class="form-control">
                                <option value="BookingShowroom">Booking Showroom</option>
                                <option value="ToyotaHomeService">Toyota Home Service</option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <br>
                            <center><button class="btn btn-success">Submit</button></center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('#bookingForm').on('submit',(function(event){
        event.preventDefault();
        $.ajax({
            url: '{{ function("home_url") ~ "/send_mail/booking_service" }}',
            type: 'POST',
            dataType: 'json',
            contentType: false,
            cache: false,
            processData:false,
            data:new FormData(this),
            success:function(data)
            {
                if(data.status == 'success')
                {
                    Swal.fire({
                        position: 'top-end',
                        type: 'success',
                        title: 'Terimakasih,warniaga kami akan segera menghubungi anda',
                        showConfirmButton: false,
                        timer: 2000,
                        onClose:function()
                        {
                            $('#bookingForm')[0].reset();
                        }
                    })
                }
            },
            error:function(error)
            {
                console.log(error)
            }
        })
    }));
});
</script>