<div class="contact py-5" id="contact">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title text-capitalize text-white text-center pb-3 mb-sm-5 mb-4">contact us
            <span></span>
        </h3>
        <div class="d-flex">
            <div class="col-lg-6 contact-right">
                <div class="w3l-agile">
                    <form action="#" method="post" id="contactUs">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Your name" class="form-control" required="">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Your email" class="form-control" required="">
                        </div>
                        <div class="form-group">
                            <input type="text" name="subject" placeholder="Your subject" class="form-control" required="">
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" placeholder="Phone number" class="form-control" required="">
                        </div>
                            <div class="form-group">
                                <textarea name="message" placeholder="Your message" class="form-control" required=""></textarea>
                            </div>
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
            <div class="col-lg-6 contact-left mt-lg-0 mt-5">
                <div class="w3l-agile ">
                    <div class="address">
                        <h4 class="text-white">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>Location
                        </h4>
                        <p>Jalan Sisingamangaraja KM.9,8 No.204, Timbang Deli, Amplas, Medan, Sumatera Utara 20149.</p>
                    </div>
                    <div class="phone my-4">
                        <h4 class="text-white">
                            <i class="fa fa-phone" aria-hidden="true"></i>Phone
                        </h4>
                        <p>0823 6557 2000</p>
                    </div>
                    <div class="email">
                        <h4 class="text-white">
                            <i class="fas fa-envelope"></i>E-mail
                        </h4>
                        <p>
                            <a href="mailto:jansen.toyotamedanid@yahoo.com">jansen.toyotamedanid@yahoo.com</a>
                        </p>
                    </div>
                    <!-- map -->
                    <div class="map-w3ls mt-4">
                        <iframe></iframe>
                    </div>
                    <!-- //map -->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('#contactUs').on('submit',(function(event){
        event.preventDefault();
        $.ajax({
            url: '{{ function("home_url") ~ "/send_mail/" }}',
            type: 'POST',
            dataType: 'json',
            contentType: false,
            cache: false,
            processData:false,
            data:new FormData(this),
            success:function(data)
            {
                if(data.status == 'success')
                {
                    Swal.fire({
                        position: 'top-end',
                        type: 'success',
                        title: 'Thank\'s for your feed back',
                        showConfirmButton: false,
                        timer: 2000,
                        onClose:function()
                        {
                            $('#contactUs')[0].reset();
                        }
                    })
                }
            },
            error:function(error)
            {
                console.log(error)
            }
        })
    }));
});
</script>