<div class="footer-bot py-5 text-center">
    <div class="container">
        <div class="logo2">
            <h2>
                <a href="{{ function('home_url') }}">{{ site.name }}</a>
            </h2>
        </div>
        <!-- social icons -->
        <div class="agileinfo_social_icons my-4">
            <ul class="agileits_social_list list-unstyled">
                {#
                    not used
                    <li>
                        <a href="#" class="w3_agile_facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="#" class="agile_twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="w3_agile_dribble">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                    <li class="ml-2">
                        <a href="#" class="w3_agile_google">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                #}
                <li class="ml-2">
                    <a href="https://www.instagram.com/jnsennn/" class="w3_agile_google">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="ml-2">
                    <a href="https://api.whatsapp.com/send?phone=6282365572000" class="w3_agile_google">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- social icons -->
        <p class="copyright-w3ls"> &copy; 2019 {{ site.name }}. All Rights Reserved | Developed by <a href="https://agungdirgantara.id/">@agoenks29D</a></p>
    </div>
</div>