<div class="agileits-services text-center py-5" id="gallery">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title text-capitalize text-dark text-center pb-3 mb-sm-5 mb-4">Our Gallery
            <span></span>
        </h3>
        <div class="w3ls_gallery_grids">
            <div class="row agileits_w3layouts_gallery_grid">
                <div class="col-md-4 agileits_w3layouts_gallery_grid1 hover14">
                    <div class="w3_agile_gallery_effect">
                        <a href="{{ theme.link }}/templates/images/g1.jpg" class="sb" title="we love your car the same as you do">
                            <figure>
                                <img src="{{ theme.link }}/templates/images/g1.jpg" alt=" " class="img-fluid" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 agileits_w3layouts_gallery_grid1 hover14 my-md-0 my-2">
                    <div class="w3_agile_gallery_effect">
                        <a href="{{ theme.link }}/templates/images/g2.jpg" class="sb" title="we love your car the same as you do">
                            <figure>
                                <img src="{{ theme.link }}/templates/images/g2.jpg" alt=" " class="img-fluid" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 agileits_w3layouts_gallery_grid1 hover14">
                    <div class="w3_agile_gallery_effect">
                        <a href="{{ theme.link }}/templates/images/g3.jpg" class="sb" title="we love your car the same as you do">
                            <figure>
                                <img src="{{ theme.link }}/templates/images/g3.jpg" alt=" " class="img-fluid" />
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row agileits_w3layouts_gallery_grid mt-2">
                <div class="col-md-4 agileits_w3layouts_gallery_grid1 hover14">
                    <div class="w3_agile_gallery_effect">
                        <a href="{{ theme.link }}/templates/images/g4.jpg" class="sb" title="we love your car the same as you do">
                            <figure>
                                <img src="{{ theme.link }}/templates/images/g4.jpg" alt=" " class="img-fluid" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 agileits_w3layouts_gallery_grid1 hover14 my-md-0 my-2">
                    <div class="w3_agile_gallery_effect">
                        <a href="{{ theme.link }}/templates/images/g1.jpg" class="sb" title="we love your car the same as you do">
                            <figure>
                                <img src="{{ theme.link }}/templates/images/g1.jpg" alt=" " class="img-fluid" />
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 agileits_w3layouts_gallery_grid1 hover14">
                    <div class="w3_agile_gallery_effect">
                        <a href="{{ theme.link }}/templates/images/g2.jpg" class="sb" title="we love your car the same as you do">
                            <figure>
                                <img src="{{ theme.link }}/templates/images/g2.jpg" alt=" " class="img-fluid" />
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>