{% extends "base_template.html" %}
{% block content %}
{% if function('is_home') %}
	<div class="row" style="margin-left: 2%;margin-right: 2%;margin-bottom: 2%;margin-top: 2%;padding-top: 2%;">
		{% for car in cars %}
		<a href="{{ car.link }}">
			<div class="col-md-3" style="margin-bottom: 2%;margin-left: 4%; margin-right: 4%; border: 1px solid black;">
				<div class="img-grid  d-flex align-items-end justify-content-center p-3" style="background: url({{ car.thumbnail.src }}) center no-repeat;padding: 0;background-size: cover;position: relative;z-index: 1;">
					<div class="img_text_w3ls px-4">
						<h4>{{ car.title }}</h4>
						<span></span>
						<p class="text-white">{{ car.preview.read_more('') | truncate(10) }}</p>
						<a href="{{ car.link }}">
							<button type="button" class="btn btn-primary seri-w3ls text-white my-4"></button>
						</a>
					</div>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
	{% include 'booking_service.html' %}
	{% include 'about.html' %}
	{% include 'promo.html' %}
	{% include 'contact_us.html' %}
{% endif %}
{% endblock %}