<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Demystifying Email Design</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body style="margin: 0; padding: 0;">
<table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
<tr>
	<td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;">
		<img src="https://info-toyotamedan.id/imgs/banners/auto2000.png" alt="Creating Email Magic" width="80%" height="60%" style="display: block;" />
	</td>
</tr>
<tr>

<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
	<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><center>{{ title }}</center></td>
	</tr>
	<tr>
		<td style="padding: 20px 10px 30px 10px;">
			{{ content }}
		</td>
	</tr>
	</table>
</td>


</tr>
<tr>
	<td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
		Car Services 2019
	</td>
</tr>
</table>
</body>
</html>