{% extends "base_template.html" %}
{% block content %}

<div class="agileits-services text-center py-5">
    <h1>{{ post.title }}</h1>
    <div class="container">{{ post.content }}</div>
</div>
{% endblock %}