<div class="row" style="margin-left: 2%;margin-right: 2%;margin-bottom: 2%;margin-top: 2%;">
	<div class="col-md-4">
		<div class="img-grid  d-flex align-items-end justify-content-center p-3" style="background:url({{ theme.link ~ '/templates/images/bg1.jpg' }});background-size: cover;position: relative;z-index: 1">
			<div class="img_text_w3ls px-3">
				<h4>Car Glassing</h4>
				<span> </span>
				<p class="text-white">Sed porttitor lectus nibh ras ultricies ligula sed magna dictum porta. </p>
				<a href="{{ function('home_url') }}">
					<button type="button" class="btn btn-primary seri-w3ls text-white my-4">Read More <i class="fas fa-long-arrow-alt-right ml-2"></i></button>
				</a>
			</div>
		</div>
	</div>
</div>