<div class="py-0" style="background-color:black">
    <div class="container py-xl-5 py-lg-3">
        <h5 class="title text-capitalize text-white text-center pb-3 mb-sm-5 mb-4">Ingin tahu Promo dan Info selanjutnya? 
        	Wiraniaga Kami akan Menghubungi Anda. Silahkan klik tombol berikut untuk mengisi Form.
            <span></span>
        </h5>
        <center><button class="btn btn-success" data-toggle="modal" data-target="#promoModal">Klik Disini</button></center>
    </div>
</div>

<div class="modal fade" id="promoModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Car Wash</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="promo" method="post">
					<label for="name">Nama *</label>
					<input type="text" name="nama" required class="form-control">

					<label for="name">Nomor Telepon/HP *</label>
					<input type="number" name="telp" required class="form-control">

					<label for="name">Mobil Yang Diminati *</label>
					<input type="text" name="mobil" required class="form-control">

					<label for="name">Pembelian</label>
					<select name="pembelian" class="form-control">
						<option value="Cash">Cash</option>
						<option value="Kredit">Kredit</option>
					</select>
					<br>
					<input type="submit" class="btn btn-success" value="Kirim">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('#promo').on('submit',(function(event){
        event.preventDefault();
        $.ajax({
            url: '{{ function("home_url") ~ "/send_mail/info_promo" }}',
            type: 'POST',
            dataType: 'json',
            contentType: false,
            cache: false,
            processData:false,
            data:new FormData(this),
            success:function(data)
            {
                if(data.status == 'success')
                {
                    Swal.fire({
                        position: 'top-end',
                        type: 'success',
                        title: 'Anda Akan Dihubungi Wiraniaga Kami, Tunggu 5 Menit',
                        showConfirmButton: false,
                        timer: 2000,
                        onClose:function()
                        {
                            $('#promo')[0].reset();
                             $('#promoModal').modal('hide') 
                        }
                    })
                }
            },
            error:function(error)
            {
                console.log(error)
            }
        })
    }));
});
</script>