{% extends "base_template.html" %}
{% block content %}
<style type="text/css">
h1
{
	font-family: "Arial, Helvetica, sans-serif";
}

p.has-drop-cap:not(:focus)::first-letter
{
	font-size: 5em;
	margin-top: 0.075em;
}

p.has-drop-cap:not(:focus):first-letter
{
	float:left;
	font-size:8.4em;
	line-height:.68;
	font-weight:100;
	margin:.05em .1em 0 0;
	text-transform:uppercase;
	font-style:normal
}
p.has-drop-cap:not(:focus):after
{
	display:table;
	clear:both;
	padding-top:14px
}

</style>
<!-- <link rel="stylesheet" type="text/css" href="http://localhost/agungdirgantara.id/project.agungdirgantara.id/info-toyotamedan.id/wp-includes/css/dist/block-library/style.min.css?ver=5.1"> -->
<!-- <link rel="stylesheet" type="text/css" href="http://localhost/agungdirgantara.id/project.agungdirgantara.id/info-toyotamedan.id/wp-content/themes/twentyseventeen/assets/css/blocks.css?ver=1.1"> -->
<div class="agileits-services py-5">
    <h1><center>{{ post.title }}</center></h1>
    <div class="container" style="margin-top: 4%;">{{ post.content }}</div>
</div>
{% endblock %}